<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
        <title>Error 404!</title>
  </head>
  <body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure>
                <img
                  src="img/404.jpg"
                  alt="Shivam"
                  clss="img-fluid"
                  title="Shivam Agarwal"
                />
              </figure>
              <p></p>
              <h1>
               {{errMsg}}
              </h1>
              <a href="/"><button>Go back</button></a>
            </div>
            <!-- right side div -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
  {{>footer}}

   <!-- footer links-->
  {{>footerlinks}}
  </body>
</html>
